{
    "comments": true,
    "minified": false,
    "presets": [
      "es2015",
      "react"
    ],
    "ignore": [
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ]
  }